<div [ngClass]="'aboutus'" id="aboutus">
    <div [ngClass]="'container mx-auto pt-5 pb-5'">
        <div [ngClass]="'row'">
            <div [ngClass]="'about-image col-sm-6'">
                <img [ngClass]="'rounded'" src="../../../assets/images/close-up-heat-pump-outside-home.jpg" alt="hvac">
            </div>
            <div [ngClass]="'col-sm-6'">
                <h1 [ngClass]="'banner-greeting'">About Us</h1>
                <p>
                    At <strong>Temperature Comfort</strong>, we are dedicated to providing top-notch heating, 
                    ventilation, and air conditioning services to the Louisville, KY area. Our team of experienced
                     technicians is committed to ensuring your comfort and satisfaction. We understand the importance 
                     of a well-functioning HVAC system, and we strive to provide timely and efficient solutions to 
                     all of your heating and cooling needs. Our mission is to exceed our customers\' expectations 
                     by delivering exceptional service and quality workmanship. Whether you need routine maintenance,
                      repairs, or a new installation, we have the expertise and resources to get the job done right. 
                      Contact us today to experience the difference.
                </p>
                
            </div>
        </div>
        
    </div>
</div>