<div [ngClass]="'banner'" id="banner">
    <div [ngClass]="'container mx-auto pt-5 pb-5'">
        <div [ngClass]="'row'">
            <div [ngClass]="'col-sm-6'">
                <h1 [ngClass]="'banner-greeting'">Stay Cool With Temperature Comfort HVAC Services</h1>
                <p>
                    At <strong>Temperature Comfort</strong>, we understand the importance of keeping your indoor 
                    environment comfortable and safe year-round. Whether you're facing scorching
                    summer heat or chilly winter nights, we're here to ensure your HVAC system 
                    runs smoothly and efficiently.
                </p>
                <p>
                    With years of experience and a team of highly skilled technicians, we take pride in 
                    offering top-notch HVAC solutions for your residential and commercial needs.
                    Our mission is to provide you with expert HVAC repairs, effective maintenance,
                    quality installatiions, energy efficiency, and 24/7 emergency services.     
                </p>

                
                <a [ngClass]="'contact-us'" href="#contactus">Contact Us</a>
                
            </div>
            <div [ngClass]="'banner-image col-sm-6'">
                <img [ngClass]="'rounded-circle'" src="../../../assets/images/logo.png" alt="hvac">
            </div>
        </div>
        
    </div>
</div>
