<nav [ngClass]="'navbar navbar-expand-lg navbar-dark sticky-top'">
  <div [ngClass]="'container-fluid justify-content-lg-center justify-content-sm-start'">
    <ul [ngClass]="'navbar-nav'">
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" href="#banner">Home</a>
      </li>
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" href="#services">Services</a>
      </li>
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" href="#">Gallery</a>
      </li>
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" href="#aboutus">About Us</a>
      </li>
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" href="#contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
